<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="cn.htz.blog.mapper.BlogTagRelationMapper">

    <resultMap id="blogTagMap" type="blogTagRelation">
        <id property="blogId" column="tag_id" jdbcType="BIGINT"/>
        <id property="tagId" column="tag_id" jdbcType="BIGINT"/>
    </resultMap>

    <insert id="insertList">
        insert into t_blog_tag(blog_id, tag_id) values 
        <foreach collection="list" item="item" separator=", ">
            (#{item.blogId}, #{item.tagId})
        </foreach>
    </insert>

    <select id="getTagsByBlogId" resultMap="blogTagMap" parameterType="long">
        select tag_id, blog_id from t_blog_tag where blog_id = #{blogId}
    </select>

    <delete id="deleteByBlogId" parameterType="long">
        delete from t_blog_tag where blog_id = #{blogId}
    </delete>

    <delete id="deleteByBlogIds" parameterType="list">
        delete from t_blog_tag where blog_id in
        <foreach collection="list" item="id" separator=", " open=" ( " close=" ) ">
            #{id}
        </foreach>
    </delete>

    <select id="getBlogCountByTagId" parameterType="long" resultType="long">
        select count(tag_id) from t_blog_tag where tag_id = #{tagId}
    </select>

</mapper>